@import './normalize.scss';
@import './colors.scss';

.mainGrid {
  grid-area: mainGrid;
}

@media all and (high-contrast:none) {
  .mainGrid {
    grid-row: 2;
    grid-row-span: 1;
    grid-column: 3;
    grid-column-span: 3;
  }
}

.mainWrapper {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  top: -102px;
}

.splittext {
  color: $yellow;
}

.linkarrow {
  color: $yellow;
}


.room {
  height:1400px !important;
  width:400px !important;;
}

.lit {
  background-color: white !important;;
  color: pink !important;;
  font-size:40px !important;;
  height:400px !important;;
  width:400px !important;;
}
.dark {
  background-color: black !important;;
  color: blue !important;;
  font-size:40px !important;;
  height:400px !important;;
  width:400px !important;;
}